.wordCarousel {
    font-size: 46px;
    font-weight: 100;  
    border-style: solid; 
    width: 75%;
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
        width: 20%;
        li {
            text-align: right;
            font-family: 'Zen Loop', cursive;
            font-weight: 700;
            height: 45px;
            margin-bottom: 45px;
            display: block;
            color: yellowgreen;
            margin-left: 0;
        }
    }
}

.flip5 { animation: flip5 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

//the height of one <li> is 45px -> margin-height: 90px, and then always add 90 px to the next
//i have 5 <li> items -> 100/5 = 20 and then add 5 to switch the margin-heigth
@keyframes flip5 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -360px; }
}

#home-btn{
    border-radius: 50%;
    padding:50px;
}



@media only screen and (min-width: 1200px){

#screen-height{

    img{
        max-width: 100%;
        height: auto;
    }

    #home-description{
        p{
            padding-top: 2rem;
        }

        button{
            position: absolute;
            top: 180vh;
            right: 30%;
        }

    }
}

}

//
@media only screen and (min-width:600px) and (max-width: 1199px){

    #screen-height{

    
        img{
            max-width: 100%;
            height: auto;
        }
    
        #home-description{
            p{
                padding-top: 2rem;
            }
    
            #home-btn{
                position: absolute;
                top: 85vh;
                right: 20%;
            }
    
        }
    }
    
    }

    @media only screen and (max-width: 599px){
        app-laptophero{
            display: none;
        }

        .wordCarousel {
            display: none;
        }

        #screen-height{
            img{
                width: 100%;
                height: auto;
            }
        
            #home-description{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                p{
                    padding-top: 2rem;
                }
        
                #home-btn{
                    padding:20px;
                    margin-bottom:20px;
                }
        
            }
        }

    }