<!-- <app-laptophero></app-laptophero> -->

<!-- In the assignment, it says, we should create static html -->
<h1>Travelaniac Offers</h1>


<h4 class="wordCarousel">
  <div>
    <ul class="flip5">
      <li>Windsurfing</li>
      <li>Hiking</li>
      <li>Diving</li>
      <li>Surfing</li>
      <li>City Trips</li>
    </ul>
  </div>
</h4>

<div class="row">
  <img class="col" src="./../../assets/IMG/holiday.jpg" alt="Holiday">
  <p class="col text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non rhoncus orci, varius consectetur est. Donec
    vestibulum ultrices tortor ac tempor. Sed laoreet dolor justo, ut pellentesque nunc gravida sit amet. Nunc eros
    sapien, laoreet in semper eleifend, ultricies nec dolor. Maecenas sed nisl vitae nibh auctor aliquet sollicitudin
    sed lectus. Morbi hendrerit non lorem et porttitor. Donec tempor risus eget consequat rutrum. Sed consequat purus ac
    mauris ullamcorper pellentesque. In non mi congue, bibendum lorem laoreet, ullamcorper eros. Morbi eget turpis nisl.
  </p>
</div>