<!-- <app-laptophero></app-laptophero> -->

<!-- In the assignment, it says, we should create static html -->
<h1>Travelaniac Offers</h1>

<!-- <div class="d-flex home-content">
    <div></div>
    <div id=”slide-container”>
        <div id=”slide-first-element”>
            <img class=”slide-image” src="./../../assets/IMG/bryce.jpg"> 
            <p class=”slide-text”>Beautiful</p>
        </div>
        <div id="slide-element-2">
            <img class=”slide-image” src="./../../assets/IMG/europe_tour.jpg">
            <p class=”slide-text”>Amazing</p>
        </div>
        <div id="slide-element-3">
             <img class=”slide-image” src="./../../assets/IMG/hiking.jpg">
            <p class=”slide-text”>Incredible</p>
        </div>
    </div>
</div> -->

  <h4 class="wordCarousel">
    <div>
      <ul class="flip5">
        <li>Windsurfing</li>
        <li>Hiking</li>
        <li>Diving</li>
        <li>Surfing</li>
        <li>City Trips</li> 
      </ul>
    </div>
  </h4>