$titleFontColor: #394543;

.cart-content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;

    #myform{
        border: solid $titleFontColor;
        height: 50vh;
        width: 40vw;
    }

    form{
        margin: 2rem 0 !important;

        label{
            width: 80px;
        }
        input{
            width: 30vw;
        }

    }

    .invoice{
        margin: 2rem 0 2rem 0;

        #discount{
            color: yellowgreen;
            font-style: italic;
        }
    }

   button{
       margin-bottom: 2rem;
       position: relative;
       top: 10%;
       left: 40%;
   }


}

@media only screen and (min-width: 600px) and (max-width: 1199px){
    .cart-content{
        width: 90%;
        min-height: 75vh;
    }

    button{
        top: 5% !important;
        left: 30% !important;
    }

    #myform{
        width: 50vw !important;
    }

    input{
        width: 45vw !important;
    }
}

@media only screen and (max-width: 599px){
    button{ 
        top: 0 !important;
        left: 20% !important;
    }

    #myform{
        width: 100vw !important;
    }

    input{
        width: 60vw !important;
    }
}