<h1>Cart</h1>

<div class="row mt-5 cart-content">
    <div class="col">
        <form [formGroup]="checkoutForm">
            <div class="mb-5">
                <label for="name">Name</label>
                <input type="text" formControlName="name">
            </div>

            <div class="mb-5">
                <label for="address"> Address</label>
                <input type="text" formControlName="address">
            </div>
            <div>
                <label for="email"> E-mail</label>
                <input type="text" formControlName="email">
            </div>

        </form>
    </div>
    <div class="col">
        <div class="row cart" *ngFor="let item of items">
            <span>{{ item.description }}: </span>
            <span>{{ item.price | currency: "EUR"}}</span>
        </div>
        <hr>
        <p>Sum: {{total}}</p>
    </div>
    <div class="col ms-5" (ngSubmit)="onSubmit(checkoutForm.value)">
        <button class="button" type="submit">Purchase</button>
    </div>
</div>