@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

$titleFontColor: #394543;

h1{
    font-family: 'Zen Loop', cursive;
    font-size: 40pt;
    font-weight: 700;
    color: $titleFontColor;
    text-align: center;
    margin-top: 3rem;
}

button{
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: transparent;
  padding: 0 30px 0 30px;
  border-style: solid;
  border-color: yellowgreen;
}

button:hover{
  background-color: yellowgreen;
  color: white;
  font-size: 15pt;
}

.mytext{
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {
    .content {
      width: 80%;
      margin: 2rem auto 0 auto;

      .mytext{
          width: 50%;
          
      }
    }
  }

@media only screen and (min-width: 600px) and (max-width: 1199px) {

  .content {
    width: 100%;
    margin: 2rem auto 2rem auto;

    .mytext{
        width: 80%;
        
    }
  }
}