$beachColor: #67706f;



img{
    max-width: 100%;
}

.description{
    text-align: center;
    h3{
        font-family: 'Zen Loop', cursive;
        font-size: 30pt;
        font-weight: bold;
        color: $beachColor;
    }

    #price{
        font-family: 'Zen Loop', cursive;
        font-weight: bold;
        font-size: 20pt;
        color: yellowgreen;
    }
}

@media only screen and (max-width: 599px){
    img{
        display: none;
    }

    #activitys{
        margin: 2rem 0 2rem 0;
    }

}

