<h1>Products</h1>

<!-- In the for-loop: If i have left_align:true in one product -> img will be on the right -->
<div class="row content" *ngFor="let product of travels">
    <ng-template [ngIf]="product.left_align" [ngIfElse]="none">
        <div class="col-lg-6 col-md-6 col-sm-12 description align-self-center" id="activitys">
            <h3>{{ product.description }}</h3>
            <div>
                Destination: {{product.destination}} <br>
                Courses: {{product.startDate}} <br>
                Duration: {{product.duration}}h
                <div class="d-flex justify-content-around mt-5">
                    <span id="price">€ {{product.price}}</span>
                    <button (click)="addToCart(product)">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src={{product.image}} alt="">
        </div>
    </ng-template>
    <ng-template #none>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src={{product.image}} alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 description align-self-center">
            <h3>{{ product.description }}</h3>
            <div>
                Destination: {{product.destination}} <br>
                Courses: {{product.startDate}} <br>
                Duration: {{product.duration}}h
                <div class="d-flex justify-content-around mt-5">
                    <span id="price">€ {{product.price}}</span>
                    <button (click)="addToCart(product)">Add to cart</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<!-- <div class="container">

    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">

            <p>The clickCounter is <b>GREATER </b>than 4.</p>

    </ng-template>

    <ng-template #none>

            <p>The clickCounter is <b>NOT GREATER</b> than 4.</p>

    </ng-template>

</div> -->